@model weatherapp.ViewModels.CityPost
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1><a href="~/">Vädret</a></h1>
<div class="jumbotron">
    <div class="well">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary("", new { @class = "alert alert-dismissable alert-warning" })
            @Html.TextBoxFor(m => Model.CityName, new { @placeholder = "Ange stad", @id = "inputDefault", @class = "form-control" })
            <input type="submit" class="btn btn-primary" value="Sök" />
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")   
    <script type="text/javascript">
        $(function () {
            $("#inputDefault").autocomplete({
                source: function (request, response) {
                //define geonames method in GeoNamesController
                $.ajax({
                    url: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "GeoNames" })',
                    data: { term: request.term },
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                    response($.map(data, function (item) {
                                 return { value: item };
                            }))
                        }
                    })
                },
                //Require atleast one character from the user.
                minLength: 1
            });
        });
    </script>
}

