body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
    list-style: none;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
.btn-primary {
    margin-left: 15px;
}
.form-control {
    display: inline;
    width: 250px;
}
li, ul {
    list-style-type: none;
}
li {
    color: white;
    font-size: 25px;
}
.alert { 
    max-width: 350px;
}
.weather {
    float: left;
    font-size: 20px;
    margin-right: 19px;
    min-width: 185px;
}
.panel-heading, .panel-body {
    text-align: center;
}
.clearfix {
    clear: both;
}
.weather-date p {
    font-style: italic;
    font-size: 14px;
}